@charset "utf-8";

/*
 * (C) Elia Contini 2014-2015. All right reserved.
 */
/******************************************** Reset */
html, body, h1, h2, h3 {
   margin: 0;
	padding: 0;
}

html, body {
   font-family: Ubuntu, sans-serif;
   font-size: 100%;
   font-weight: 300;
	height: 100%;
	width: 100%;
}

a {
   text-decoration: none;
}

hr {
   display: none;
}

h1, h2, h3 {
	font-weight: 500;
	padding-top: .5em;
}

img {
   border: 0;
}
/****************************************** Commons */
.fe .a11y,
.fe .menu {
   margin: 0;
   padding: 0;
}

.fe .a11y {
   border: 0;
   height: 0;
   left: 0;
   overflow: hidden;
   position: absolute;
   top: 0;
   width: 0;
}

.fe .menu {
   list-style: none;
}

.fe .menu .menu-item {
   display: inline-block;
}

.fe .social .menu-item a:link,
.fe .social .menu-item a:visited {
   color: #333;
   display: block;
}

.fe .team-member {
   border-bottom: 1px solid #ddd;
   clear: both;
   position: relative;

}

.fe .team-member:last-child {
   border: 0;
}

.fe .team-member .description,
.fe .team-member .details {
   display: inline-block;
   vertical-align: top;
}

.fe .team-member .description {
   width: 69%;
}

.fe .team-member .description .social {
   margin-bottom: .5em;
   margin-top: .5em;
}

.fe .team-member .details {
   float: left;
   text-align: center;
   margin-right: 1em;
}

.fe .team-member .description .role {
   color: #999;
   display: block;
   font-size: 70%;
}

.fe .team-member .details .photo {
   border-radius: 50%;
   margin-top: 1em;
}

.fe .event {
   margin-top: .5em;
}

.fe .event .title,
.fe .event .property {
   margin: 0;
   padding: 0;
}

.fe .event .title {
   border-bottom: 1px solid #ddd;
   border-top: 1px solid #ddd;
   padding-bottom: .15em;
   padding-top: .15em;
}

.fe .event .property {
   padding-top: .15em;
}

.fe .event .property .name {
   display: inline-block;
   width: 4.5em;
}
/******************************************* Layout */
.fe .header, .fe .main, .fe .footer {
   margin: 0 auto;
   width: 80%;
}

.fe .header {
   border-bottom: 2px solid #ddd;
}

.fe .header .title,
.fe .header .nav {
   display: inline-block;
   vertical-align: middle;
}

.fe .header .nav-button {
   display: none;
}

.fe .header .nav .menu-item {
   margin-left: 2em;
}

.fe .header .nav .menu-item a:link,
.fe .header .nav .menu-item a:visited {
   color: #000;
   display: block;
   font-size: 130%;
   padding-bottom: 1.2em;
   padding-top: 1.2em;
}

.fe .header .nav .menu-item a:hover,
.fe .header .nav .menu-item a:active,
.fe .header .nav .current a:link,
.fe .header .nav .current a:visited {
   background-image: linear-gradient(90deg, #EF4135 50%, #0051BA 50%);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 5px;
}

.fe .main {
   font-size: 130%;
}

.fe .footer {
   border-top: 2px solid #ddd;
   font-size: 90%;
   padding-bottom: 1em;
   padding-top: 1em;
}

.fe .footer .copyright,
.fe .footer .social {
   display: inline-block;
}

.fe .footer .social {
   float: right;
}

.fe .footer .social .menu-item {
   font-size: 150%;
   margin-left: .5em;
}
/************************************ Media queries */
@media screen and (max-width:768px) {
   body {
      font-size: 90%;
   }

   .fe .header, .fe .main, .fe .footer {
      width: 95%;
   }

   .fe .header .nav-button {
		color: #000;
		cursor: pointer;
		display: block;
		float: right;
		font-size: 2em;
		margin: 0;
      margin-right: .4em;
      margin-top: .7em;
		text-align: center;
		width: 1em;
	}

	.fe .header .nav,
	.fe .header .nav .menu,
	.fe .header .nav .menu .menu-item {
		display: block;
		margin: 0;
		padding: 0;
	}

	.fe .header .nav {
		background-color: #fff;
		border: 1px solid #ddd;
		display: none;
		position: absolute;
		right: 1em;
		top: 3.5em;
      z-index: 100;
	}

	.fe .header .nav .menu .menu-item a:link,
	.fe .header .nav .menu .menu-item a:visited,
	.fe .header .nav .menu .current a:link,
	.fe .header .nav .menu .current a:visited {
      background-image: none;
		border: 0;
		border-bottom: 1px solid #ddd;
		color: #000;
		font-size: 120%;
      margin: 0;
		padding: .7em .5em;
		text-decoration: none;
	}

	.fe .header .nav .menu .menu-item:last-child a:link,
	.fe .header .nav .menu .menu-item:last-child a:visited {
		border: 0;
	}

   .fe .team-member .description {
      width: 100%;
   }

   .fe .team-member .details {
      margin: 0;
      position: absolute;
      right: .5em;
      top: .75em;
   }

   .fe .team-member .details .photo {
      margin: 0;
   }

   .fe .team-member .details .photo {
      height: 2em;
      width: 2em;
   }

   .fe .footer .social .menu-item,
   .fe .team-member .description .social .menu-item {
      font-size: 180%;
      margin-right: .25em;
   }

   .fe .footer .social {
      margin-bottom: 1em;
   }
}

@media screen and (min-width:769px) and (max-width:1024px) {
   .fe .header, .fe .main, .fe .footer {
      width: 65%;
   }
}

@media screen and (min-width:1025px) {
   .fe .header, .fe .main, .fe .footer {
      width: 55%;
   }
}
