// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: #a3bad9,
    200: #85a9d8,
    300: #6b97d0,
    400: #3d7ed1,
    500: #0051ba,
    600: #004094,
  ),
  secondary: (
    100: #ffb2ac,
    200: #f9a29c,
    300: #f28078,
    400: #ef4135,
    500: #dd1709,
  ),
  neutral: (
    100: #ffffff,
    200: #fafafa,
    300: #f1f3f4,
    400: #dde1e4,
    500: #a5a5a5,
    600: #767676,
    700: #625c5d,
    // 800: ,
    900: #464243,
  ),
  dark: (
    100: #121212,
  ),
);
