---
import { Icon } from 'astro-icon/components';

const { url = Astro.request.url } = Astro.props;

let URL = `https://www.facebook.com/sharer/sharer.php?u=${url}`;
---

<a class="button has-icon behavior-text size-small" target="_blank" href={URL} rel="noopener noreferrer">
  <Icon name="mdi:facebook" />
</a>
