---
const currentYear = new Date().getFullYear();
---

<footer>
  <section class="pb-8 pt-32">
    <div class="container">
      <p>
        &copy; {currentYear} - <a href="https://www.meetup.com/frontenders-ticino/">Frontenters Ticino</a> - All rights reserved.
        Made with ❤️ by <a href="https://github.com/matteocodogno">Matteo Codogno</a>.
      </p>
    </div>
  </section>
</footer>
